*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.sectionbody1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Images/hospital-reception.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 700px;
}

.designtext {
  color: white;
  justify-content: center;
  text-align: center;
  padding: 20%;
  line-height: 50px;
}

.designtext p {
  font-size: 16px;
  letter-spacing: 0.3em;
  font-weight: 500;
}

.designtext h1 {
  font-size: 3.5em;
  font-weight: 500;
}

.button-hero {
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: rgb(29, 216, 154);
  margin-top: 40px;
}

.button-hero:hover {
  background: #777;
}
@media (max-width:960px){
   .hero1{
    padding-top: 20%;
  }
}
@media (max-width:480px) {
  .designtext {
      padding: 10px;
      margin: 30px;
      justify-content: center;
      align-items: center;
  }

  .hero1 {
      justify-content: center;
      padding-top: 60px;
  }
  
}

.fulll {
  background: #f1f0f0;
}

.fullhero {
  display: flex;
  width: 90%;
  margin-left: 8%;
}

.seperate {
  margin-top: 15%;
  margin-left: 6%;
}

.seperate h1 {
  color: #333;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: none;
  font-family: sans-serif;
}

.seperate p {
  color: #696969;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  margin-top: 10px;
  line-height: 25px;
  font-family: sans-serif;
}
.button-hero1 {
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: rgb(29, 216, 154);
  margin-top: 40px;
}

.button-hero1:hover {
  background: #777;
}
.immg {
  width: 32%;
  margin-top: 10%;
  margin-left: 5%;
}
@media (max-width:880px){
  .fulll {
    padding-bottom: 20%;
  }
}
@media (max-width:480px) {
  .fulll {
      margin-top: -58px;
      padding-bottom: 20%;
  }

  .fullhero {
      display: block;
  }

  .seperate {
      padding-top: 50%;
      margin-left: -15px;
  }

  .immg {
      width: 100%;
      margin-left: -20px;
  }
}
.containe{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
}
.sectoin{
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containe h1{
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
  box-shadow: 0 1px 2px 0 rgba(155, 155, 155, 0.6);
}
.card:hover{
  border-color: rgb(29, 216, 154);
}
.btss{
  border: none;
  outline: none;
  background: rgb(29, 216, 154);
  color: white;
  border-radius: 6px;
  max-width: 120px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
}
.btss:hover{
  background: #555;
}

@media (max-width: 969px) {
  .sectoin{
    padding: 20px 0px;
    margin-bottom: 18%;
  }
  h1{
    font-size: 30px;
    line-height: 40px;
  }
  .card{
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% -20px);
  }
}
@media (max-width: 600px) {
  .card{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.aboutflex {
  display: flex;
  justify-content: center;
  background-color: #f1f0f0;
  align-items: center;
  height: 760px;

}

.aboutflex_main {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13%;
  width: 60%;

}

.main h1 {
  font-size: 45px;
  font-weight: 400;
  color: #333;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 2%;
  margin-left: -3%;
  line-height: 32px;
}

.paragraphs p {
  color: #555;
  font-size: 18px;
}
.button-hero2 {
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: rgb(29, 216, 154);
  margin-top: 40px;
}

.button-hero2:hover {
  background: #777;
}
@media (max-width:960px) {
  .aboutflex_main {
  margin-top: 20%;
  }
  .main {
    width: 100%;
    padding-top: 2%;
    margin: 20px;
}
.aboutflex_main{
  margin-top: -20%;
}
.paragraphs{
  margin-left: 5%;
}
}
@media (max-width:480px) {
  .aboutflex {
      height: 1200px;
      width: 100%;

  }
  .paragraphs{
    margin-left: -4%;
  }
  .main {
      width: 100%;
      padding-top: 2%;
      margin: 20px;
  }
}