*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.sectionbody1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Images/hospital-reception.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
}

.designtext {
  color: white;
  justify-content: center;
  text-align: center;
  padding: 11%;
  line-height: 50px;
}

.designtext p {
  font-size: 16px;
  letter-spacing: 0.3em;
  font-weight: 500;
}

.designtext h1 {
  font-size: 3.5em;
  font-weight: 500;
}

.button-hero {
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: rgb(29, 216, 154);
  margin-top: 40px;
}

.button-hero:hover {
  background: #777;
}

@media (max-width:480px) {
  .designtext {
      padding: 10px;
      margin: 30px;
      justify-content: center;
      align-items: center;
  }

  .hero1 {
      justify-content: center;
      padding-top: 60px;
  }
}
