*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.sectionbody1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Images/hospital-reception.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 700px;
}

.designtext {
  color: white;
  justify-content: center;
  text-align: center;
  padding: 11%;
  line-height: 50px;
}

.designtext p {
  font-size: 16px;
  letter-spacing: 0.3em;
  font-weight: 500;
}

.designtext h1 {
  font-size: 3.5em;
  font-weight: 500;
}

.button-hero {
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: rgb(29, 216, 154);
  margin-top: 40px;
}

.button-hero:hover {
  background: #777;
}

@media (max-width:480px) {
  .designtext {
      padding: 10px;
      margin: 30px;
      justify-content: center;
      align-items: center;
  }

  .hero1 {
      justify-content: center;
      padding-top: 60px;
  }
}

.fulll {
  background: #f1f0f0;
}

.fullhero {
  display: flex;
  width: 90%;
  margin-left: 8%;
}

.seperate {
  margin-top: 15%;
  margin-left: 6%;
}

.seperate h1 {
  color: #333;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: none;
  font-family: sans-serif;
}

.seperate p {
  color: #696969;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  margin-top: 10px;
  line-height: 25px;
  font-family: sans-serif;
}

.immg {
  width: 32%;
  margin-top: 10%;
  margin-left: 5%;
}

@media (max-width:480px) {
  .fulll {
      margin-top: -58px;
  }

  .fullhero {
      display: block;
  }

  .seperate {
      padding-top: 50%;
      margin-left: -15px;
  }

  .immg {
      width: 100%;
      margin-left: -20px;
  }
}